@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    var username = Accessor.HttpContext.Session.GetString("Username");
}

<p>Välkommen in @(!string.IsNullOrEmpty(username) ? username : "Guest")</p>
